@media screen and (max-width: 475px) {
    #pain{
        font-size: 1.5rem;
    }
    .navbar-item{
        font-size: .5rem;
    }
    #first-section{
        flex-direction: column;
    }
    .swiper-container{
        width: 100%;
        height: 50vh;
    }
    .gif{
        width: 70vw;
    }
    .swiper{
        width: 100%;
    }
}