@media screen and (max-width: 1050px) {
    #pain{
        font-size: 3rem;
    }
    .navbar-item{
        font-size: 1rem;
    }
    .gif{
        width: 30vw;
    }
    section{
        padding: 2em;
    }
    #first-section{
        align-items: center;
        justify-content: space-between;
    }
    .swiper-container{
        padding: 0;
        width: 50vw;
    }
    .swiper{
        width: 55vw;
    }
    .swiper-slide div{
        padding-left: 3em;
        padding-right: 3em;
    }
    
    .show{
        font-size: 1.5rem;
    }
    h1{
        font-size: 1.25rem;
    }
}